<link href="../../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="../../static/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<script type="text/javascript" src="../../static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-3.3.1/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="../../static/js/popper/popper.min.js"></script>
<script type="text/javascript" src="../../static/js/mainjs.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eldery Assistance</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#pablo">Eldery Assistance</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-danger" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-danger">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <img src="https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697057-facebook-512.png" style="width: 30px; height: 30px;">
                            <p>Compartilhe</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <img src="https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697029-twitter-512.png" style="width: 30px; height: 30px;">
                            <p>Tuite</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <img src="https://cdn0.iconfinder.com/data/icons/social-networks-and-media-flat-icons/136/Social_Media_Socialmedia_network_share_socialnetwork_network-31-512.png" style="width: 30px; height: 30px;">
                            <p>Assista</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="title">
        <div class="title-word">Eldery</div>
        <div class="title-word">Assistance</div>
        <div class="title-word little">Uma proposta de inclusão digital na terceira idade</div>
    </div>

    <div class="container margintop5">
        <div class="row">
            <div class="col-md-4">
                <div class="card-counter primary">
                    <i class="fa fa-google"></i>
                    <span class="count-numbers">12 <span class="semititle">tutoriais</span></span>
                    <span class="count-name">Como Realizar Pesquisas</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-counter danger">
                    <i class="fa fa-youtube"></i>
                    <span class="count-numbers">599 <span class="semititle">tutoriais</span></span>
                    <span class="count-name">Assistir videos na internet</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-counter success">
                    <i class="fa fa-whatsapp"></i>
                    <span class="count-numbers">6875 <span class="semititle">tutoriais</span></span>
                    <span class="count-name">Como Usar o Whatsapp</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container marginbottom5">
        <div class="row">
            <div class="col-md-4">
                <div class="card-counter primary">
                    <i class="fa fa-keyboard-o"></i>
                    <span class="count-numbers">12 <span class="semititle">tutoriais</span></span>
                    <span class="count-name">Posição Das Letras no Teclado</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-counter danger">
                    <i class="fa fa-envelope-o"></i>
                    <span class="count-numbers">599 <span class="semititle">tutoriais</span></span>
                    <span class="count-name">Acessar o E-Mail</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-counter success">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="count-numbers">6875 <span class="semititle">tutoriais</span></span>
                    <span class="count-name">Ler Notícias</span>
                </div>
            </div>
        </div>
    </div>

    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Informações</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Página Inicial</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Sobre Nós</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Termos de Uso</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Politica Privada</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Termos e Condições</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Fale Conosco</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Envie seu comentário</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Adicione conteúdo</a></li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><b>Eldery Assistance</b> é um projeto privado criado com a proposta de incentivar e dar assistência a inclusão digital na terceira idade.</p>
                    <p class="h6">&copy All right Reversed.</p>
                </div>
                </hr>
            </div>
        </div>
    </section>
</body>
</html>